* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 12px 16px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  border: 2px solid rgba(70, 145, 101, 1);
}

/* main style  */
nav {

  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

nav .links {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav .links a:hover {
  background-color: rgba(128, 128, 128, 0.378);
}

nav .links a {
  text-decoration: none;
}