* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 12px 16px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  border: 2px solid rgba(70, 145, 101, 1);
}


/* nav bar style  */
nav {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

nav .links {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav .links a:hover {
  background-color: rgba(128, 128, 128, 0.378);
}

nav .links a {
  text-decoration: none;
}


/* banner style  */
.banner-box {
  background-image: url(../assets/hero-bg.png);
  padding: 70px 120px 134px 120px;
}
.banner-content-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* btn2  */
.btn-2 {
  display: flex;
  gap: 6px;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  padding: 8px 12px;
  border: none;
  border-radius: 25px;
}
.btn-2 button {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
}
.btn-2:hover:hover {
  background-color: rgba(255, 255, 255, 0.31);
}


/* banner content (h2,p)  */
.banner-content-parent h2 {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.banner-content-parent p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0px 300px;
  margin-bottom: 32px;
}


/* btn3  */
.banner-button-section {
  display: flex;
  gap: 16px;
}
.banner-button-section .btn3 {
  display: flex;
  gap: 6px;
  padding: 12px 10px;
  background: rgba(70, 145, 101, 1);
  border-radius: 4px;
}
.banner-button-section .btn3:hover {
  background: rgba(70, 145, 101, 0.205);
}
.banner-button-section .btn3 img {
  width: 20px;
}
.banner-button-section .btn3 button {
  color: #FFFFFF;
  background: rgba(70, 145, 101, 1);
  border: none;
  font-weight: 600;
}


/* btn4  */
.banner-button-section .btn4 {
  display: flex;
  gap: 6px;
  padding: 12px 10px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0);
}
.banner-button-section .btn4:hover {
  background-color: rgba(165, 33, 33, 0.634);
}
.banner-button-section .btn4 button {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: #FFFFFF;
}
.banner-button-section .btn4 img {
  width: 20px;
}


