* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 12px 16px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  border: 2px solid rgba(70, 145, 101, 1);
}


/* nav bar style  */
nav {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

nav .links {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav .links a:hover {
  background-color: rgba(128, 128, 128, 0.378);
}

nav .links a {
  text-decoration: none;
}


/* banner style  */
.banner-box {
  background-image: url(../assets/hero-bg.png);
  padding: 70px 120px 134px 120px;
}

.banner-content-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* btn2  */
.btn-2 {
  display: flex;
  gap: 6px;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  padding: 8px 12px;
  border: none;
  border-radius: 25px;
}

.btn-2 button {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
}

.btn-2:hover:hover {
  opacity: 0.5;
}


/* banner content (h2,p)  */
.banner-content-parent h2 {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.banner-content-parent p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0px 300px;
  margin-bottom: 32px;
}


/* btn3  */
.banner-button-section {
  display: flex;
  gap: 16px;
}

.banner-button-section .btn3 {
  display: flex;
  gap: 6px;
  padding: 12px 10px;
  background: rgba(70, 145, 101, 1);
  border-radius: 4px;
}

.banner-button-section .btn3:hover {
  opacity: .5;
}

.banner-button-section .btn3 img {
  width: 20px;
}

.banner-button-section .btn3 button {
  color: #FFFFFF;
  background: rgba(70, 145, 101, 1);
  border: none;
  font-weight: 600;
}


/* btn4  */
.banner-button-section .btn4 {
  display: flex;
  gap: 6px;
  padding: 12px 10px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0);
}

.banner-button-section .btn4:hover {
  opacity: 0.5;
}

.banner-button-section .btn4 button {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: #FFFFFF;
}

.banner-button-section .btn4 img {
  width: 20px;
}

/* banner style end  */
/* main section style start  */
/* notes section- 1st part of main section  */
.notes-section {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 100px;
}

.notes-title-parent {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.notes-section .notes-title-parent h2 {
  color: rgba(0, 25, 49, 1);
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.notes-section .notes-title-parent p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.notes-card-parent {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.card .card-img-box1 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image: url(../assets/Vector.png);
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
}

.card .card-img-box2 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image: url(../assets/Bookmarks.png);
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
}

.card .card-img-box3 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image: url(../assets/Brain.png);
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
}

.card .card-img-box4 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-image: url(../assets/Info.png);
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
}


.notes-card-parent .card h2 {
  color: rgba(0, 25, 49, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.notes-card-parent .card p {
  color: rgba(98, 115, 130, 1);
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

/* second brain section start  */

.second-brain-section {
  display: flex;
  gap: 60px;
  padding: 120px 0px;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-top: 80px;
  padding-right: 80px;
}

.text-section p {
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.text-section h2 {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
}

.text-section .description {
  color: rgba(98, 115, 130, 1);
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.CheckCircle img {
  width: 20px;
  height: 20px;

}

.CheckCircle p {
  color: rgba(0, 25, 49, 1);
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.CheckCircle {
  display: flex;
  gap: 6px;
}

/* think clearly section start  */

.think-clearly-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 40px 80px 40px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  margin-bottom: 120px;
}

.think-box h2 {
  color: rgba(0, 25, 49, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.think-box p {
  color: rgba(98, 115, 130, 1);
  font-weight: 400;
  line-height: 24px;

}

.think-clearly-section .button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 10px;
  margin: 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background: rgba(70, 145, 101, 1);
  border-radius: 4px;
  max-width: max-content;
}

.think-clearly-section .button button {
  color: rgba(255, 255, 255, 1);
  background: rgba(70, 145, 101, 1);
  font-weight: 600;
  border: none;
}

.think-clearly-section .button:hover {
  opacity: .5;
}

/* main section end  */

/* footer section  */
footer{
  background: rgba(0, 25, 49, 1);
   padding-top: 120px ;
   padding-bottom: 30px;
}
.footer-kv{
  display: flex;
  justify-content: space-between;
 
}

.footer-kv .Social-link p{
color: #FFFFFF;
font-size: 20px;
font-weight: 500;
margin-bottom: 12px;
}
.footer-kv .Social-link img{
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-right: 12px;
}
.ending hr{
  margin-top: 80px;
}
.ending p{
color: rgba(250, 250, 250, 1);
font-weight: 400;
text-align: center;
margin-top: 30px;
}